coverage/*
db/schema.rb
db/*.sql*
log/*.log
tmp/**/*
public/avatars/**/*
public/javascripts/cache/*.js
public/stylesheets/cache/*.css
spec/debug.log
.DS_Store
*~
*.swp
.rvmrc
*/reports/*
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
